In [7]:
import pandas as pd
import numpy as np

### 기존 데이터프레임 가져오기(.xlsx)

In [8]:
df = pd.read_excel("결과.xlsx",encoding = 'utf-8')
idx_rename = df["Unnamed: 0"]
del df["Unnamed: 0"]
df = df.rename(index = idx_rename)
df.head()

,설정목표,0217,0218,0219,0220,0221,0222,0223,0224,0225,0226,0227
이동준,3일1분석,O,?,?,O,?,O,?,?,?,?,?
최현서,매일 다이어리 쓰기,O,O,X,O,O,O,O,O,O,O,o
손준혁,연기 연습(스터디),O,O,OX,OX,O,O,?,O,?,?,?
김정범,3Km 달리기,X,X,O,O,X,O,X,X,o,x,ox
한혜지,매일 운동하고 기록하기 (snpe),O,O,O,X,X,O,X,o,o,x,o

### 새로운 날짜 추가

In [25]:
data = open('습관.txt','rt',encoding = 'UTF8')
line = data.readline()
Today = []
count = 0
for x in range(len(line)):
    if(line[x] == '/'):
        break
    elif(line[x] == ']'):
        count += 1
    elif(count == 2):
        Today.append(line[x])
Today = ''.join(Today)
df[Today] = np.nan
df.head()

,설정목표,0217,0218,0219,0220,0221,0222,0223,0224,0225,0226,0227,0228
이동준,3일1분석,O,?,?,O,?,O,?,?,?,?,?,NaN
최현서,매일 다이어리 쓰기,O,O,X,O,O,O,O,O,O,O,o,NaN
손준혁,연기 연습(스터디),O,O,OX,OX,O,O,?,O,?,?,?,NaN
김정범,3Km 달리기,X,X,O,O,X,O,X,X,o,x,ox,NaN
한혜지,매일 운동하고 기록하기 (snpe),O,O,O,X,X,O,X,o,o,x,o,NaN

### data 한줄씩 읽고 기록

In [ ]:
data = open('습관.txt','rt',encoding = 'UTF8')
lines = data.readlines()
days = df.columns

for x in range(len(lines)):
    name = []
    date = []
    count = 0 #카톡내용중 불필요한 내용 삭제를 위함
    #날짜 저장
    for y in range(len(lines[x])):
        if(lines[x][y] == ']'):
            count += 1
        elif lines[x][y] == '/':
            break
        elif(count == 2):
            date.append(lines[x][y])
    date =''.join(date)
    if not date in days:
        continue
    #이름. 성공.실패여부
    fail = 0
    slash = 0
    for y in range(len(lines[x])):
        if(lines[x][y] == '/'):
            slash += 1
        #이름 저장
        elif slash == 1:
            name.append(lines[x][y])
        #실패횟수
        elif slash >= 2 and lines[x][y] == '실':
            fail += 1  
    name = ''.join(name)
    #기록
    if slash + 1 == fail:
        df.loc[name,date] = 'x'
    elif fail > 0:
        df.loc[name,date] = 'ox'
    elif fail == 0:
         df.loc[name,date] = 'o'

### 새로운 날짜에 결측값이 있으면 '?'기록

In [ ]:
df = df.fillna('?')
df.head()

### 결과 정리

In [ ]:
value = df[Today]
o_num = 0
x_num = 0
ox_num = 0
for x in range(len(value)):
    if(value[x]=='o'):
        o_num += 1
    elif(value[x] == 'x'):
        x_num += 1
    elif(value[x]=='ox'):
        ox_num += 1
df.loc['O인원',Today] = o_num
df.loc['OX인원',Today] = ox_num
df.loc['X인원',Today] = x_num
df.loc['?인원',Today] = 23-(o_num + ox_num + x_num)

In [ ]:
df.to_excel("결과.xlsx")